body {
	margin: 0px;
}

#wrapper {
	background-image: url('../img/background-main.jpg');
	background-size: cover;
	min-height: 100vh;
    vertical-align:middle;
}

#wrapper #header{
	font-family: "Century Gothic";
	background-color: white;
	height: 50px;
	line-height: 50px;
	width: 100%;
	padding-right: 50px;
}

#wrapper #header .header-button {
	float: right;
	width: 120px;
	text-align: center;
	text-decoration: none;
	border: solid ;
	border-width: 0px 0px 0px 1px;
	border-color: #cccccc;
}

#wrapper #content {
	margin-top:100px;
	text-align: center;
}

#wrapper #content .row{
	margin-right: 50px;
	margin-left: 50px;
}

#wrapper #content .row .info{
	margin-top: 50px;
	font-size: 42px;
	font-weight: 600;
}

#wrapper #header .header-button.company {
	float: right;
	width: 120px;
	background-color: #030c89;
	color: white;
}

#footer{
	background-color: #010868;
	color: white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	width: 100%;
}
