#wrapper {
	background-color: #eff2f7;
	background-image: none;
	background-size: cover;
	
}
#dashboard {
	background-color: #afceff;
	margin: 0 10%;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 30px;
	text-align: left;
	height: 100%;
	border-radius: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#wrapper #dashboard .title .btnEdit .edit-icon {
	margin-left: 5px;
	margin-bottom: 10px;
}

#wrapper #dashboard .title .btnAdd .add-icon {
	margin-left: 5px;
	margin-bottom: 10px;
}


#dashboard-detail {
	margin: 0%;
	padding-top: 40px;
	padding-left: 10px;
	padding-bottom: 30px;
	text-align: left;
	height: 100%;
}


#dashboard .user-info {
	font-size: 18px;
}

#dashboard .title {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
	
}

hr{
	border-width: 3px;
}

.btnEdit {
	float: right;
	background-color: #afceff;
	color: #0a22ff;
	border: none;
}

.btnEdit:hover {
	background-color: #afceff;
	color: #3a00ff;
	
}

.btnAdd {
	float: right;
	background-color: #afceff;
	color: red;
	border: none;
}


.pengalaman{
	border-width: 1px;
}


