#wrapper {
	background-color: #eff2f7;
	background-image: none;
	background-size: cover;
	
}
#dashboard {
	background-color: none;
	margin: 0 10%;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 30px;
	text-align: left;
	height: 100%;
	border-radius: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#wrapper #dashboard .pnlTitle{
	background-color: #afceff;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: left;
	
}

#wrapper #dashboard .pnlUserInfo{
	background-color: none;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: left;
	border-bottom: 6px solid #afceff;
	border-right: 6px solid #afceff;
	border-left: 6px solid #afceff;
}

#wrapper #dashboard .pnlExpInfo{
	background-color: none;
	/*padding-top: 20px;
	padding-bottom: 10px;
	*/
	text-align: left;
	/*border-right: 6px solid #afceff;
	border-left: 6px solid #afceff;
	border-bottom: 6px solid #afceff;*/
}

#wrapper #dashboard .title .btnEdit .edit-icon {
	margin-left: 5px;
	margin-bottom: 10px;
}

#wrapper #dashboard .title .btnAdd .add-icon {
	margin-left: 5px;
	margin-bottom: 10px;
}


#dashboard-detail {
	margin: 0%;
	padding-top: 40px;
	padding-left: 10px;
	padding-bottom: 30px;
	text-align: left;
	height: 100%;
	
	border-left: 6px solid #afceff;
	border-right: 6px solid #afceff;
	border-bottom: 6px solid #afceff;
}


#dashboard .user-info {
	font-size: 18px;
}

#dashboard .title {
	font-weight: bold;
	font-size: 25px;
	
}

hr{
	border-width: 3px;
}

.btnEdit {
	float: right;
	background-color: #afceff;
	color: #0a22ff;
	border: none;
}

.btnEdit:hover {
	background-color: #afceff;
	color: #3a00ff;
	
}

.btnAdd {
	float: right;
	background-color: #afceff;
	color: red;
	border: none;
}


.pengalaman{
	border-bottom: 6px solid red;
	color: red;
	height:100%;
	
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
