#wrapper #content .register-form{
	text-align: center;
	width: 500px;
	margin: auto;
	padding: 40px 50px 20px 50px;
	background-color: #c2ced9;
	border-radius: 4px;
}

#wrapper #content .register-icon{
	margin-bottom: -30px;
}

#wrapper #content .register-form .btn-register{
	background-color: #1c5386;
	font-family: "Cooper Black";
	color: white;
}

