#wrapper {
	background-color: #eff2f7;
	background-image: none;
	background-size: cover;
	
}
#dashboard {
	background-color: none;
	margin: 0 10%;
	text-align: left;
	height: 100%;
	border-radius: 25px;
	margin-bottom: 20px;
	/*margin-top: 20px;*/
}

#wrapper #dashboard .workExp{
	/*border-left: 3px solid #9b9b9b;
	border-right: 3px solid #9b9b9b;
	border-top: 3px solid #9b9b9b;
	border-bottom: 3px solid #9b9b9b;*/
	
}

#wrapper #dashboard .workExp .title {
	font-weight: bold;
	font-size: 25px;
	border-right:10px;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #005b96;
	color: white;
	
}

#wrapper #dashboard .workExp .detail {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	min-height: 34px;
	line-height: 34px;
	background-color: rgb(179,205,224, 0.3);
	font-size: 15px;
	border-right: 1px solid #005b96;
	border-left: 1px solid #005b96;
}


#dashboard .user-info {
	font-size: 18px;
	margin-bottom: 15px;
}



hr{
	border-width: 3px;
}


.submit {
	margin-left: 5px;
	margin-bottom: 10px;
	background-color: red;
}


.btnEdit {
	float: right;
	background-color: #afceff;
	color: #0a22ff;
	border: none;
}

.btnEdit:hover {
	background-color: #afceff;
	color: #3a00ff;
	
}

.btnAdd {
	float: right;
	background-color: #afceff;
	color: red;
	border: none;
}


.pengalaman{
	border-bottom: 6px solid red;
	color: red;
	height:100%;
	
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

