#wrapper {
	background-color: #eff2f7;
	background-image: none;
	background-size: cover;
	
}
#dashboard {
	background-color: none;
	margin: 0 10%;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 30px;
	text-align: left;
	height: 100%;
	border-radius: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#.dropdown{
	width: 500px;
	position: relative;
	font-family: Arial;
	colot: blue;
}


.last_degree_id{
	background-color: DodgerBlue;
}

.editProfil{

}

#wrapper #dashboard .editProfil .title {
	font-weight: bold;
	font-size: 25px;
	border-right:10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #005b96;
	color: white;
}

#wrapper #dashboard .editProfil .detail {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	min-height: 34px;
	line-height: 34px;
	background-color: rgb(179,205,224, 0.3);
	font-size: 15px;
	border-right: 1px solid #005b96;
	border-left: 1px solid #005b96;

}

#wrapper #dashboard .detailProfil {
	/*padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	border-right: 6px solid #afceff;
	border-left: 6px solid #afceff;

	text-align: left;
	min-height: 34px;
	line-height: 34px;
	background-color: rgb(179,205,224, 0.3);
	font-size: 15px;
	border-right: 1px solid #005b96;
	border-left: 1px solid #005b96;
	border-bottom: 1px solid #005b96;*/
}

#dashboard .user-info {
	font-size: 18px;
	margin-bottom: 15px;
}



hr{
	border-width: 3px;
}


.submit {
	margin-left: 5px;
	margin-bottom: 10px;
	background-color: red;
}

.btnEdit {
	float: right;
	background-color: #afceff;
	color: #0a22ff;
	border: none;
}

.btnEdit:hover {
	background-color: #afceff;
	color: #3a00ff;
	
}

